$mid: 662px;
$large: 1259px;

.container{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.form{
  position: sticky;
  top: 0;
  height: fit-content;

  @media screen and (max-width: $large) {
    position: inherit;
  }
}
